<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>React</title>
    <script src="@routes.Assets.at("javascripts/react-data-grid.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/react-dom.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/react-with-addons.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/reactCompo.js")" type="text/javascript"></script>
</head>
<body>

<div id="container">
    <!-- This element's contents will be replaced with your component. -->
</div>

</body>
</html>